@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Red+Hat+Display:wght@400;500;600;700&display=swap');

// Color pallete

$grey: #7B7B7B;
$dark: #000000;

// Fonts

$lato: "Lato", sans-serif;
$red-hat: "Red Hat Display", sans-serif;

// Templates

@mixin font($fz, $f-weight , $l-height, $letter-space, $color) {
          font-size: $fz;
          line-height: $l-height;
          letter-spacing: $letter-space;
          color: $color;
          font-weight: $f-weight;
}



