/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Resetting Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Header Styles */
header {
    display: block;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

/* Logo Styles */
header a img {
    vertical-align: middle;
}

/* Navigation Styles */
nav {
    display: inline-block;
    vertical-align: middle;
    margin: 0 198px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

/* Button Container Styles */
.btns {
    display: inline-block;
    vertical-align: middle;
}

/* Button Styles */
button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #FF9900;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

button:first-child {
    background-color: transparent;
    color: #222;
    border: 1px solid #88839e;
}

/* Hero Section Styles */
.hero {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    overflow: hidden; /* Clear floats */
    max-height: 600px;
    height: 100%;
}

/* Left Column Styles */
.col-left {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    padding-right: 5%;
    text-align: left;
    min-height: 400px;
    height: 100%;
}

.col-left > div {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

/* H1 Styles */
.col-left h1 {
    font-size: 44px;
    font-weight: 700;
}


/* Right Column Styles */
.col-right {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

/* Illustration Styles */
.illustration-right {
    width: 100%;
    display: block;
}

.features{
    width: 100%;
    background-image: url("../img/Features.png");
    background-repeat: no-repeat;
    object-fit: cover;
    min-height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h2{
    font-size: 24px;
    font-weight: 600;
}

.featured_points{
    display: flex;
    margin-top: 40px;
}

.point{
    flex: 1;
    min-height: 200px;
}

.icon-box{
    width: 50px;
    height: 50px;
    background-color: #3e3a49;
    border-radius: 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box:nth-child(1){
    background-color: #7752BE;
}

.icon-box:nth-child(2){
    background-color: #FAB005;
}
.icon-box:nth-child(3){
    background-color: #F03E3D;
}
.icon-box:nth-child(4){
    background-color: #4DADF7;
}

.point h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
